<p>Welcome to yet another internet experiment.</p>

<p>Peruse the various bands and enjoy their extensive live catalogues for <strong>free</strong>.</p>

<p>This site is powered by Archive.org and Alec Gorge's <a href="https://github.com/alecgorge/iguana" target="_blank">Iguana</a>. The Phish collection is hosted and provided by <a href="http://phish.in" target="_blank">Phish.in</a>.</p>

<p>- Daniel Saewitz, <a href="mailto:admin@relisten.net">admin@relisten.net</a></p>

<br><br>

<p>This site complies with Archive.org's <a href="https://archive.org/post/261115/hotlinking-allowed">policy</a>.</p>


<br>
<p><i>
The Grateful Dead and our managing organizations have long encouraged the purely non-commercial exchange of music taped at our concerts and those of our individual members. That a new medium of distribution has arisen - digital audio files being traded over the Internet - does not change our policy in this regard. Our stipulations regarding digital distribution are merely extensions of those long-standing principles and they are as follow:

No commercial gain may be sought by websites offering digital files of our music, whether through advertising, exploiting databases compiled from their traffic, or any other means.
All participants in such digital exchange acknowledge and respect the copyrights of the performers, writers and publishers of the music.

This notice should be clearly posted on all sites engaged in this activity.
We reserve the ability to withdraw our sanction of non-commercial digital music should circumstances arise that compromise our ability to protect and steward the integrity of our work.
</i>
</p>