<p>Hello there –</p>

<p>This is an alpha feature. The queue probably won't work so well, what will work [in a modern browser] is clicking on a song and listening to the entirety of that tape. That's how most of you use the site anyway.</p>

<p>It's worth it.</p>

<p style="text-align: center;"><button class=enable-gapless>{{#if enabled}}DISABLE{{else}}ENABLE{{/if}} GAPLESS PLAYBACK</button></p>

<p>You must be using a browser that is <a href="http://caniuse.com/#feat=audio-api">listed here</a>. If something breaks, just try refreshing.</p>
