<ul class="left">
  <li class="home-container"><a class="home" href="/" {{#if bandName}}style="padding: 0 3px 0 10px;"{{/if}}>Relisten to</a>{{#if bandName}}<a class="band" href="/{{slug}}">{{#if the}}the {{/if}}{{bandName}}<span></span></a>{{/if}}</li>
</ul>

<ul class="right">
    <li><a class="about header-link" href="/about">ABOUT</a></li>
</ul>
