<ul class="left">
  <li class="home-container"><a class="home" href="/{{#if gd}}gd{{else}}um{{/if}}">{{#if gd}}ListenToTheDead{{else}}ListenToUM{{/if}}<span>.com</span></a></li>
</ul>

<ul class="right">
    <li><a class="about header-link" href="/about">ABOUT</a></li>
    <li><a href="/um">UM</a></li>
    <li><a href="/gd">GD</a></li>
</ul>
