<ul class="left">
  <li class="home-container">
    <a class="home" href="/">Relisten</a>
    <span> to{{#if bandName}} {{else}}...{{/if}}</span>
    {{#if bandName}}
      <a class="band" href="/{{slug}}">
        {{#if the}}the {{/if}}{{bandName}}
      </a>
      <span class="tip">&nbsp;&nbsp;&lt;- click here for a random show! {{#if_eq bandName "Phish"}}(Powered by phish.in){{/if_eq}}</span>
    {{else}}
      <div class="info" href="/about">
        1232 songs from 456 shows by 313 bands
      </div>
    {{/if}}
    <div class="clear"></div>
  </li>
</ul>

<ul class="right">
    <li><a class="about header-link" href="/about">ABOUT</a></li>
    <li><a class="news header-link" href="/news">NEWS</a></li>
</ul>
