<ul class="left">
  <li class="home-container">
    <a class="home" href="/">Relisten</a>
    <span> to </span>
    {{#if bandName}}
      <a class="band" href="/{{slug}}">
        {{#if the}}the {{/if}}{{bandName}}
      </a>
      <span class="tip">&nbsp;&nbsp;&lt;- click here for a random show! {{#if_eq bandName "Phish"}}(Powered by phish.in){{/if_eq}}</span>
    {{else}}
      <div class="info" href="/about">
        833,640 songs from 45,645 shows by 78 bands
      </div>
    {{/if}}
    <div class="clear"></div>
  </li>
</ul>

<ul class="right">
    <li><a class="about header-link" href="/about">ABOUT</a></li>
    <li><a class="gapless header-link" href="/gapless">GAPLESS</a></li>
    <li><a class="fucked-up header-link" href="/oops">I FUCKED UP</a></li>
</ul>
