<ul class="left">
  <li class="home-container">
    <a class="home" href="/">Relisten</a>
    <span> to </span>
    {{#if bandName}}
      <a class="band" href="/{{slug}}">
        {{#if the}}the {{/if}}{{bandName}}
      </a>
      <span class="tip">&nbsp;&nbsp;&lt;- click here for a random show! {{#if_eq bandName "Phish"}}(Powered by phish.in){{/if_eq}}</span>
    {{else}}
      <div class="info" href="/about">
        1,028,334 songs from 50,834 tapes of 95 bands
      </div>
    {{/if}}
    <div class="clear"></div>
  </li>
</ul>

<ul class="right">
    <li><a class="about header-link" href="/about">ABOUT</a></li>
    <li><a class="live header-link" href="/live">LIVE</a></li>
    <li><a class="today header-link" href="/today">TODAY</a></li>
    <li><a class="gapless header-link" href="/gapless">GAPLESS</a></li>
    <li><a class="ios header-link" href="https://itunes.apple.com/us/app/relisten-formerly-listen-to/id715886886?mt=8" target="_blank">iOS app</a></li>
</ul>
