<div class=row-fluid>
  <div class="span4 year-container">
  </div>


  <div class="span4 shows-container">
    <div class=ul-header>Show</div>
    <ul>
    {{#each shows.children}}
      <li>
        <a href="/show/{{id}}">{{title}}</a>
      </li>
    {{/each}}
    </ul>
  </div>

  <div class="span4 show-container">
    <div class=ul-header>Song</div>
    <ul>
    {{#each show.children}}
      <li>
        <a href="/song/{{id}}">{{title}}</a>
      </li>
    {{/each}}
    </ul>
  </div>
</div>