<table>
   <thead>
      <tr>
         <th class="heading">Band</th>
         <th class="heading">Tapes</th>
      </tr>
   </thead>
   <thead>
    <tr>
      <th><a href="/grateful-dead">Grateful Dead</a></th>
      <td>{{bands.grateful-dead.shows}}</td>
    </tr>
   </thead>
   <thead>
    <tr>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
   </thead>
   {{#each bands}}
   <tbody>
      <tr>
        <th>
          <a href="/{{@key}}">{{name}}</a>
        </th>
        <td>{{shows}}</td>
      </tr>
   </tbody>
  {{/each}}
</table>
