<pre>
Yesterday I realized that for the past 4+ months, my relisten.net email has been broken. I  thought it was weird that I didn't hear from <i>any</i> of you after <a href="/gapless">Gapless Playback</a> was launched. Turns out it was due to my own stupidity.

If I didn't respond to any of your emails, I truly do apologize. It bums me out to know that there were quite a few emails that I'll never get to read. I love hearing from you - so if you sent something and never heard back, please forward it along to <a href="mailto:admin@relisten.net">admin@relisten.net</a>.

Even if you never wrote me an email, I would love it if you took the opportunity to reach out. Whether you have a suggestion, need help moving, or just want to say hi and introduce yourself.

Thanks for your patronage.

– Daniel Saewitz, <a href="mailto:admin@relisten.net">admin@relisten.net</a>

</pre>