<header>
  <ul>
    <li><a href="/playlists/new">+new</a></li>
  </ul>
</header>

<div>
  {{#each playlists}}
    <div><a href="/playlist/{{_id}}">{{name}}</a> - {{length _songs}}</div>
  {{/each}}
</div>
