<div class=player>
  <div class=info>
    <h3 class=title></h3>
    <h4 class=album></h4>
    <div class=time>
      <div class=seconds>00:00</div>/<div class=total>00:00</div>
    </div>
  </div>
  <div class=volume-container>
    <div class=volume></div>
  </div>
</div>
