<header>
  <ul>
    <li><a href="/playlist/new">+new</a></li>
  </ul>
</header>

<ul class=playlists>
  {{#each playlists}}
    <li><a href="/playlist/{{_id}}">{{name}}</a><div class=count>{{length _songs}}</div></li>
  {{/each}}
</ul>
