<div class=player>
  <div class=buttons>
    <div class=last><i class=icon-step-backward></i></div>
    <div class=pause><i class=icon-pause></i></div>
    <div class=play><i class=icon-play></i></div>
    <div class=next><i class=icon-step-forward></i></div>
    <h3 class=title></h3>
    <h4 class=album></h4>
    <div class=progress-bar></div>
  </div>
</div>
