<div class=player>
  <div class=buttons>
    <div class="bar bar-left">
      <div class=last></div>
    </div>
    <div class=pause></div>
    <div class="bar bar-right">
      <div class=next></div>
    </div>
  </div>
  <div class=info>
    <h3 class=title></h3>
    <h4 class=album></h4>
    <div class=time>
      <div class=seconds>00:00</div>/<div class=total>00:00</div>
    </div>
  </div>
</div>
