!!! 5
head
  if isProduction
    link(href='https://listentothegd.s3.amazonaws.com/index.css', rel='stylesheet')
  else
    link(href='/css/index.css', rel='stylesheet')
  meta(charset='utf-8')
  link(rel="shortcut icon", href="/favicon.ico")
  title Listen to the Grateful Dead
body
  block content