.about-page
  width 800px
  margin auto
  padding 30px 0

  p.big
    font-size 1.5em

.gapless-page, .oops-page
  padding 30px 0 100px 0

  pre
    max-width 800px
    margin 0 auto
    word-break normal

  .enable-gapless
    height 50px
    width 50%
    text-align center
    margin 20px 0 20px 150px
    font-size 1.5em
    font-weight bold