@import 'nib'
@import './variables'

asihtosblue = #008ab0//#0a64a4

header
  height 50px
  width 100%
  border-bottom 1px solid #AAA
  background #FFF
  position relative
  z-index 99
  //-webkit-box-shadow 0px 3px 2px -2px rgba(61, 61, 61, 0.4)
  //box-shadow 0px 3px 2px -2px rgba(61, 61, 61, 0.4)

  ul
    height 50px
    margin 0

    li
      height 100%
      list-style-type none
      margin 0
      padding 0

    &.left
      position absolute
      left 0
      width 100%

      li
        float left

        a:hover
          text-decoration none

        &.home-container
          font-family 'HelveticaNeue', Helvetica
          font-weight 600
          font-size 1.2em

          a.home, a.band, .info
            font-size 2em
            line-height 1.5em
            height 50px
            color asihtosblue
            float left
            padding 0 5px 0 5px

            &:hover
              color #F6F6F6
              background asihtosblue

            span
              font-size .7em

          .info
            font-size 1.3em
            padding-top 14px

            &:hover
              color asihtosblue
              background transparent

          a.band
            padding 0 5px 0 5px

            &:hover
              & + .tip
                display block

              &[href$="/today"] + .tip, &[href$="/chat"] + .tip
                display none

          span
            font-size 1.5em
            line-height 57px
            height 50px
            color asihtosblue
            float left
            padding 0 0 0 0

            &.tip
              font-size .8em
              display none
              background #FFF
              line-height 50px
              height 49px

        &.band-selector
          width 50px

          span
            font-size 3em

          .bands
            display none
            width 300px
            min-height 200px
            font-size 1.8em
            background #EEEEEE
            border 1px solid #333

            li
              padding 10px 10px
              width 100%
              height 30px

          &:hover
            .bands
              display block

    &.right
      position absolute
      right 0
      width 615px

      li
        float right
        height 100%
        text-align center
        border-left 1px solid #DDD
        position relative
        background #FFF
        border-bottom 1px solid #aaa

        &:hover, &.active
          border-left 1px solid asihtosblue

        input
          height 100%
          min-width 200px
          width 100%
          display block
          background #F6F6F6
          font-size 2em
          font-family "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif

          &:focus
            border 1px solid asihtosblue
            outline 0

        a, a:visited
          color asihtosblue
          font-size 1.4em
          line-height 2.7em
          height 100%
          width 120px
          display block
          //font-weight bold
          font-family "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif

          &.gapless, &.fucked-up, &.today, &.live, &.chat
            &:before
              content: ""
              position absolute
              top 5px
              left 15px
              font-size 12px
              line-height 16px
              color #009900
              transform: rotate(-10deg);

          &.fucked-up
            &:before
              content: "sorry"

          &.today
            &:before
              content: "new"

          &.live, &.chat
            &:before
              content: "new"

          &:hover, &.active
            color #F6F6F6
            background asihtosblue
            text-decoration none

            &.gapless, &.fucked-up, &.today, &.live, &.chat
              &:before, &:after
                color #FFF

          span
            font-size .7em

          &.plus
            line-height .8em