.index-page
  padding-bottom 50px

  table
    text-align left
    width 70%
    max-width 800px
    margin 0 auto
    font-size 1.4em

    tr
      line-height 1.4em

      th
        font-weight normal

        &.heading
          font-weight bold

      td
        width 50px
        text-align right
