.index-page
  padding-bottom 50px

  table
    text-align left
    width 70%
    max-width 800px
    margin 0 auto
    font-size 1.2em

    tr
      line-height 1.4em

      td
        width 50px
        text-align right


  ul
    clear both
    //text-align center

    li
      list-style-type none
      font-size 1.6em
      line-height 30px
      padding 5px 0
