.player-container
  height 100%
  width 50%
  border-bottom 1px solid #AAA
  position absolute
  right 0
  top 0

  .buttons
    width 300px
    position absolute
    height 20px
    clear both
    top 50%
    margin-top -15px

    .bar-left, .play, .pause, .bar-right
      z-index 99
      float left
      margin 0 20px


    .bar
      height 24px
      width 25px

      div
        width 0
        height 0
        border-top 12.5px solid transparent
        border-bottom 12.5px solid transparent

    .bar-left
      border-left 5px solid #333

      .last
        border-right 20px solid #333


    .pause
      width 20px
      height 24px
      border-right 6px solid #333
      border-left 6px solid #333
      margin 0

    .play
      width 0
      height 0
      border-top 12.5px solid transparent
      border-bottom 12.5px solid transparent
      border-left 20px solid #333
      margin 0

    .bar-right
      border-right 5px solid #333

      .next
        border-left 20px solid #333

  .info
    top 10px
    right 0
    position absolute
    text-align right
    width 70%
    height 100%

    h3.title, h4.album
      line-height .5em
      padding-right 10px
      color #333

    .time
      padding-right 10px
      div
        display inline-block
