wavesblue = #0a64a4

.playlists-page

  header
    background #F6F6F6
    z-index 97
    position relative
    border-left 1px solid #ccc
    border-right 1px solid #ccc
    width 100%

    ul
      width 100%

      li
        width 100px
        height 100%
        border-left 1px solid #DDD
        text-align center
        float right

        a, a:visited
          color wavesblue
          font-size 1.4em
          line-height 2.7em
          height 100%
          width 100%
          display block
          //font-weight bold
          font-family "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif

          &:hover, &.active
            color #F6F6F6
            background wavesblue
            text-decoration none

  ul.playlists
    margin 10px 0 0 0

    li
      list-style-type none
      height 40px
      width 90%
      position relative
      border 1px solid #CCC
      margin 5px auto

      a
        font-size 1.8em
        line-height 1.6em
        height 40px
        display block
        text-decoration none

        &:hover
          background wavesblue
          color #fff

      .count
        position absolute
        right 10px
        top 8px
        font-size 1.5em
        color #666