.player-container
  height 80px
  width 100%
  border-bottom 1px solid #AAA
  background #F6F6F6
  position relative
  margin-top -80px
  z-index 98
  -webkit-box-shadow 0px 3px 2px -2px rgba(61, 61, 61, 0.4)
  box-shadow 0px 3px 2px -2px rgba(61, 61, 61, 0.4)

  .last, .pause, .play, .next
    width 14px

  .info
    top 0
    position absolute
    text-align right
    width 100%
    height 100%

    h3.title, h4.album
      line-height .5em
      padding-right 10px
      color #333

    .time
      padding-right 10px
      div
        display inline-block

    .progress-bar
      height 5px
      width 1%
      background black
      position absolute
      bottom 0
      left 0

    .position-bar
      width 2px
      height 7px
      background #FFF
      position absolute
      left 0%
      bottom 0
