.player-container
  height 100%
  width 50%
  border-bottom 1px solid #AAA
  position absolute
  right 0
  top 0

  .info
    top 15px
    right 22px
    position absolute
    text-align right
    width 70%
    height 100%

    h3.title, h4.album
      line-height .5em
      padding-right 10px
      color #333

    .time
      padding-right 10px
      div
        display inline-block

  .volume-container
    position absolute
    right 5px
    bottom 0
    height 80%
    width 8px
    border-left 1px solid #333
    border-top 1px solid #333
    border-right 1px solid #333
    cursor pointer

    .volume
      height 100%
      width 100%
      background #333
      position absolute
      bottom 0
      left 0
