.queue-container
  height 100%
  width 50%
  position absolute
  bottom 0
  left 0

  ul
    padding 8px 0 0 0
    overflow-y scroll
    height 100%
    width 80%
    li
      list-style-type none

      a
        &.active
          font-weight bold

      span
        font-size .8em

        a
          color #333

  button
    position absolute
    right 20px
    bottom 20px
    height 40px